<%- include header %>
<style type="text/css">
	#contentBox pre{word-wrap:break-word; word-spacing:normal; text-overflow: hidden }
</style>
<div class="content">
	<div class="panelBox articlePanel">
		<div class="title">
			<p><h1><%- article.title %></h1></p>
		</div>
		<div class="pContentBox">
			<div class="fl" style="width:65%;border-right:1px #ccc dashed;margin-left:-1px;">
				<div style="margin-right:10px;min-height:250px;" id="contentBox">
					<%- article.content %>
				</div>
			</div>
			<div class="fl" style="width:35%;">
				<div style="margin-left:10px;">
					<div class="pImageBox">
						<% if(article.imageSrc){ %>
						<p class="pImageInfo pImageInfoBg"><b><%- article.userName %></b>&nbsp;&nbsp;&nbsp;&nbsp;<b><%- article.createDate %></b>&nbsp;&nbsp;&nbsp;&nbsp;</p>
						<img class="lazy" src="../../<%- article.imageSrc %>" width="100%">
						<% }else{ %>
						<p class="pImageInfo"><b><%- article.userName %></b>&nbsp;&nbsp;&nbsp;&nbsp;<b><%- article.createDate %></b>&nbsp;&nbsp;&nbsp;&nbsp;</p>
						<% }%>
					</div>
					<div class="pUserBox">
						<p class="pUserInfo"><b><a href='/blog/<%- article.userName %>'><i class="fa fa-paper-plane-o"></i>查看 <%- article.userName %> 的相关文章</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="pBtn"></div>
	</div>
</div>
<%- include footer %>
