<%- include header %>
<style type="text/css">
	#contentBox pre{word-wrap:break-word; word-spacing:normal; text-overflow: hidden ;}
</style>
<div class="content">
	<div class="panelBox articlePanel">
		<div class="title">
			<p><h1><%- article.title %></h1></p>
		</div>
		<div class="pContentBox">
			<div class="fl" style="width:65%;border-right:1px #ccc dashed;margin-left:-1px;">
				<div style="margin-right:10px;min-height:250px;" id="contentBox">
					<%- article.content %>
				</div>
			</div>
			<div class="fl" style="width:35%;">
				<div style="margin-left:10px;">
					<div class="pImageBox">
						<% if(article.imageSrc){ %>
						<p class="pImageInfo pImageInfoBg"><b><%- article.userName %></b>&nbsp;&nbsp;&nbsp;&nbsp;<b><%- article.createDate %></b>&nbsp;&nbsp;&nbsp;&nbsp;</p>
						<img class="lazy" src="../../<%- article.imageSrc %>" width="100%">
						<% }else{ %>
						<p class="pImageInfo"><b><%- article.userName %></b>&nbsp;&nbsp;&nbsp;&nbsp;<b><%- article.createDate %></b>&nbsp;&nbsp;&nbsp;&nbsp;</p>
						<% }%>
					</div>
					<div class="pUserBox">
						<p class="pUserInfo"><b><a href='/blog/<%- article.userName %>'><i class="fa fa-paper-plane-o"></i>查看 <%- article.userName %> 的相关文章</a></p>
					</div>

				</div>
			</div>
		</div>
		<div class="pBtn" style="padding: 12px 20px 2px 20px;border-top:1px #ccc solid;margin-right:0px;">
			<!-- JiaThis Button BEGIN -->
			<div id="ckepop">
				<span class="jiathis_txt">分享到：</span>
				<a class="jiathis_button_weixin">微信</a> 
				<a href="http://www.jiathis.com/share"  class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
				<a class="jiathis_counter_style"></a> </div> 
				<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1" charset="utf-8"></script>
			</div> <!-- JiaThis Button END -->
		</div>
	</div>
</div>
<%- include footer %>
