<%- include header %>
<div class="content">
	<div class="panelBox articlePanel">
		<div class="title">
			<p><h1><%- article.title %></h1></p>
		</div>
		<div class="pContentBox">
			<div class="fl" style="width:65%;border-right:1px #ccc dashed;margin-left:-1px;">
				<div style="margin-right:10px;min-height:50px;">
					<%- article.content %>
				</div>
			</div>
			<div class="fl" style="width:35%;">
				<div style="margin-left:10px;">
					<div class="pImageBox">
						<% if(article.imageSrc){ %>
						<p class="pImageInfo pImageInfoBg"><b><%- article.userName %></b>&nbsp;&nbsp;&nbsp;&nbsp;<b><%- article.createDate %></b>&nbsp;&nbsp;&nbsp;&nbsp;</p>
						<img class="lazy" src="../../<%- article.imageSrc %>" width="100%">
						<% }else{ %>
						<p class="pImageInfo"><b><%- article.userName %></b>&nbsp;&nbsp;&nbsp;&nbsp;<b><%- article.createDate %></b>&nbsp;&nbsp;&nbsp;&nbsp;</p>
						<% }%>
					</div>
					

					<!-- <ul>
						<li><%- article.createDate %></li>
						<li class="user"></li>
					</ul> -->
				</div>
			</div>
		</div>
		<div class="pBtn"></div>
	</div>
</div>
<%- include footer %>
