<%- include header %>
<div id="container" class="center">
	<% articleList.forEach(function(article){ %>
	<div class="info">
		<a href="/article/<%- article.userName %>/<%- article._id %>" >
			<div class="pic">
				<% if(article.imageSrc){ %>
					<img class="lazy" src="images/pixel.gif" data-original="<%= article.imageSrc %>">
				<% } %>			 
			</div>
			<div class="title">
				<span><%- article.title %></span>
			</div>
			<div class="desc">
				<span><%- article.content %></span>
			</div>
			<div class="userInfo">
				<span>
					<i class="fa fa-comment-o"></i>0
					<i class="fa fa-user"></i><%- article.userName %>
					<i class="fa fa-calendar"></i><%- article.createDate%>
				</span>
			</div>
		</a>
	</div>
	<% }) %>
</div>
<script type="text/javascript">
$(function(){
	//瀑布流
	$("img.lazy").lazyload({//图片懒加载
		load:function(){
			var $container = $('#container');
			$container.masonry({//瀑布流
			  columnWidth: 0,
			  itemSelector: '.info'
			});
		}
	});
	// var $container = $('#container');
	// $container.masonry({//瀑布流
	//   columnWidth: 0,
	//   itemSelector: '.info'
	// });
});


</script>
<%- include footer %>